@import "bootstrap/bootstrap.scss";
@import "font-awesome/font-awesome.scss";

html {
  height: 100%;
}

body {
  display: flex;
  width: 100%;
  min-height: 100%;
}

main {
  flex: 1;

  > .row {
    @media (min-width: map-get($grid-breakpoints, "sm")) {
      min-height: 100%;
    }
  }
}

.col {
  &_bg {
    &_dark {
      background-color: rgba(12, 222, 98, 0.5);
    }
  }
}

.trans {
  transition: 0.2s ease-out;
}

.sidebar {
  padding-left: 0;
  padding-right: 0;

  &__nav {
    @extend .list-unstyled;

    margin-bottom: 0;

    @media (min-width: map-get($grid-breakpoints, "sm")) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  li {
    display: block;
  }

  button {
    @extend .trans;

    font-size: $font-size-lg;
    display: inline-block;
    vertical-align: top;
    padding: 5px 15px;
    color: $gray-900;
    text-decoration: none;
    width: 100%;
    letter-spacing: 0.03em;
    border: 0;
    background: transparent;
    text-align: left;

    &:hover {
      background: $teal;
    }

    &.active {
      background: $cyan;
      color: white;
    }

    &:focus {
      outline: none;
    }
  }
}

.bookmark {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 5px;

  &s {
    margin-top: 30px;
  }

  & > * {
    font-size: $font-size-lg;
    line-height: 1.2;
  }

  &__edit,
  &__create {
    margin-right: 15px;
  }

  &__remove {
    margin-left: 15px;
  }

  &__item {
    margin-left: 0;
    margin-right: auto;
  }

  &__edit,
  &__remove {
    &:hover,
    &:focus {
      color: theme-color("primary");
    }
  }

  &_btn {
    cursor: default;
    margin-bottom: 15px;

    & > * {
      @extend .trans;

      color: $gray-700;
    }

    &:hover,
    &:focus {
      & > * {
        color: theme-color("primary");
      }
    }
  }
}

.form {
  margin-bottom: 20px;

  &__title {
    @extend .h4;

    margin-bottom: 20px;
  }
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
